version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - ./server/.env

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
